<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>

</head>

<body>
    <!-- Background Video -->
    <video class="background-video" autoplay muted loop>
        <source src="/static/Videos/3578236-hd_1920_1080_25fps.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Custom Cursor -->
    <div class="custom-cursor"></div>

    <div class="header">
        <h1>IdontKnow</h1>
    </div>

    <!-- Existing content -->
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>


    <!-- Scrolling Text -->
    <div class="scrolling-text-container">
        <div class="scrolling-text" id="scrollText">Object Character Detection Deep Learning Algorithm</div>
        <div class="scrolling-text2" id="scrollText2" style="margin-top: 30px;">We are committed to providing the best OCR services</div>
    </div>


    <div class="floating-images">
        <img src="{{ url_for('static', filename='Images/2ec0a7abf3e4a0399f335a4008435b2455e268b1_2_690x427.png') }}" alt="Image 1" class="img1">
        <img src="{{ url_for('static', filename='Images/8a7645916907ee4e65c0f3c5cd9bd5e56bdf70a2.jpeg') }}" alt="Image 2" class="img2">
        <img src="{{ url_for('static', filename='Images/ae33a2580576dd4c1b0861120ed95eea.jpg') }}" alt="Image 5" class="img5">
        <img src="{{ url_for('static', filename='Images/LV_AI_vignette.png') }}" alt="Image 6" class="img6">
        <img src="{{ url_for('static', filename='Images/A4fnr.jpg') }}" alt="Image 7" class="img7">
        <img src="{{ url_for('static', filename='Images/ae33a2580576dd4c1b0861120ed95eea.jpg') }}" alt="Image 8" class="img8">
        <img src="{{ url_for('static', filename='Images/1572891745083.png') }}" alt="Image 9" class="img9">
        <img src="{{ url_for('static', filename='Images/Di0yp.png') }}" alt="Image 10" class="img10">
        <img src="{{ url_for('static', filename='Images/FtTV7.jpg') }}" alt="Image 11" class="img11">
        <img src="{{ url_for('static', filename='Images/GAndt.png') }}" alt="Image 12" class="img12">
        
    </div>

    <!-- Adding extra content to enable scrolling -->
    <div style="height: 2000px;"></div>


    <!-- Form to handle image upload and submit -->
    <form id="uploadForm" action="/" method="POST" enctype="multipart/form-data">
        <div class="image-upload-container">
            <div class="image-upload-section">
                <div class="image-upload-box">
                    <input type="file" id="imageInput" name="file" accept="image/*">
                    <label for="imageInput">Click to Upload Image</label>
                </div>
                <button type="submit">Submit</button>
            </div>
            <div class="image-display-box" id="imageDisplayBox">
                <img id="uploadedImage" src="{{ image_url }}">
                <img id="uploadedImage" src="{{ image_path }}">
                
            </div>
            <button type="button" id="newImageButton">Upload New Image</button>
        </div>
    </form>

   <!-- Translated Text Container -->
    <div class="translated-text-container">
        <h4>Image To Text Transformer:</h4>
        <div class="translated-text-content" id="translatedTextContent">
            <!-- Display the extracted text here -->
            {% if extracted_text %}
                <p>{{ extracted_text }}</p>
            {% else %}
                <p>No text extracted. Please upload an image.</p>
            {% endif %}
        </div>
    </div>


    <!-- Footer -->
    <footer>
        <p>ARCHITECTURE: <strong><a href="{{ url_for('home') }}">TEXTIFY</a></strong></p>
        <p>POWERED BY: <strong>IdontKnow</strong></p>
        <p>DESIGNER: <strong>KRUSHNA THAKKAR</strong></p>
    </footer>

    <script src="{{ url_for('static', filename='js/home_page.js') }}"></script>
</body>
</html>